<div class="groups-container" *ngIf="simService.groups; else noGroups">
  <div class="group-list">
    <br><br>
    <mat-card *ngFor="let letter of groupLetters" class="group-card" >
      <mat-card-header>
        <mat-card-title>Group {{ letter }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <table mat-table [dataSource]="simService.groups[letter]" class="group-teams-table" multiTemplateDataRows>
          <!-- Flag Column -->
          <ng-container matColumnDef="flag">
            <th mat-header-cell *matHeaderCellDef>Flag</th>
            <td mat-cell *matCellDef="let team">
              <span class="team-flag">{{ team.flag }}</span>
            </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let team">
              <span class="team-name">
                {{ team.name }}
                <!-- <span *ngIf="team.playoffWinner && team.playoffPath">({{ team.playoffPath }})</span> -->
                <!-- <span *ngIf="team.playoffWinner && !team.playoffPath">(Playoff Winner)</span> -->
                <span *ngIf="team.host"> (Host)</span>
                <!-- <span *ngIf="team.qualified && !team.host"> (Qualified)</span> -->
              
              </span>
            </td>
          </ng-container>
          <!-- Confederation Column -->
          <ng-container matColumnDef="confederation">
            <th mat-header-cell *matHeaderCellDef>Confederation</th>
            <td mat-cell *matCellDef="let team">
              <span *ngIf="!(team.playoffWinner && team.playoffPath)" class="team-confederation">{{ team.confederation }}</span>
              <span *ngIf="team.playoffWinner && team.playoffPath" class="team-confederation playoff-winner">
                {{ team.playoffPath }}
              </span>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="['flag', 'name', 'confederation']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['flag', 'name', 'confederation'];"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<ng-template #noGroups>
  <mat-card>
    <mat-card-content>
      <div style="text-align: center; padding: 20px; color: #888;">
        No groups to display. Run the draw first.
      </div>
    </mat-card-content>
  </mat-card>
</ng-template>