<mat-accordion>
  <!-- UEFA Section -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>UEFA Qualifying <button mat-icon-button disabled disabledInteractive matTooltipClass="multiline-tooltip"
        matTooltip="The 12 group winners qualify directly to the World Cup.
        
        The 12 group runners-up and 4 other teams who didnt finish top 2 but are ranked highest in Nations League performance, proceed to the UEFA playoffs.
     
        Nations League ranking:
        1. Spain
        2. Germany
        3. Portugal
        4. France 
        5. England
        6. Norway
        7. Wales
        8. Czechia
        9. Romania
        10. Sweden
        11. North Macedonia
        12. Northern Ireland
        13. Moldova
        14. San Marino
        15. Italy
        16. Netherlands
        17. Denmark
        18. Croatia
        19. Scotland
        20. Serbia
        21. Hungary
        22. Belgium
        23. Poland
        24. Israel" aria-label="Help">
        <mat-icon color="primary">help_outline</mat-icon>
      </button> </mat-panel-title>
    </mat-expansion-panel-header>
    <section>
    
    <form [formGroup]="UefaQualifiersForm">
      <h3>Drag and drop to set positions within each group.</h3>

      <div class="groups-grid">
        <div *ngFor="let letter of UefaGroupLetters" class="group" [formGroupName]="'group' + letter">
           <div cdkDropList [cdkDropListData]="UefaGroupedTeams[letter]"
           (cdkDropListDropped)="onUefaDrop($event, letter)">
              <div *ngFor="let t of UefaGroupedTeams[letter]; let idx = index" 
              cdkDrag
              [cdkDragDisabled]="t.qualified"
              (cdkDragStarted)="onDragStarted(UefaGroupedTeams, 'UEFA', letter)">
                <div
                  class="team-card"
                  [ngClass]="{
                    'top-team': idx === 0,
                    'second-team': idx === 1,
                    'qualified-team': t.qualified
                  }">
                  <mat-icon *ngIf="!t.qualified" class="drag-icon" aria-label="Drag team">drag_handle</mat-icon>
                  <mat-icon *ngIf="t.qualified" class="qualified-icon" aria-label="Qualified">check_circle</mat-icon>
              
                  <span>{{ t.name }}</span>
                  
                </div>
              </div>
            </div>
            <mat-error *ngIf="UefaQualifiersForm.get('group' + letter)?.errors?.['positionsSame'] && UefaQualifiersForm.touched">
              1st and 2nd cannot be the same team.
            </mat-error>
        </div>
      </div>
     
    </form>
    </section>
   
  </mat-expansion-panel>

  <!-- AFC Section -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>AFC Qualifying <br> <button mat-icon-button disabled disabledInteractive matTooltipClass="multiline-tooltip"
      matTooltip="Group Winners Qualify directly to the World Cup, and the two runners-up face off for a spot in the inter-confederation playoff.">
        <mat-icon color="primary">help_outline</mat-icon></button>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <h3>Drag and drop to set positions within each group.</h3>
    
    <form [formGroup]="AfcQualifiersForm">
      <div class="groups-grid">
        <div *ngFor="let letter of AfcGroupLetters" class="group" [formGroupName]="'group' + letter">
          <div cdkDropList [cdkDropListData]="AfcGroupedTeams[letter]" (cdkDropListDropped)="onAfcDrop($event, letter)">
            <div *ngFor="let t of AfcGroupedTeams[letter]; let idx = index; trackBy: trackByTeam"
                 cdkDrag
                 [cdkDragDisabled]="t.qualified"
                 (cdkDragStarted)="onDragStarted(AfcGroupedTeams, 'AFC', letter)">
              <div
                class="team-card"
                [ngClass]="{
                  'top-team': idx === 0,
                  'second-team': idx === 1,
                  'qualified-team': t.qualified
                }">
                <mat-icon *ngIf="!t.qualified" class="drag-icon" aria-label="Drag team">drag_handle</mat-icon>
                <mat-icon *ngIf="t.qualified" class="qualified-icon" aria-label="Qualified">check_circle</mat-icon>
                
                <span>{{ t.name }}</span>
              
    
              </div>
            </div>
          </div>
          <mat-error *ngIf="AfcQualifiersForm.get('group' + letter)?.errors?.['positionsSame'] && AfcQualifiersForm.touched">
            1st and 2nd cannot be the same team.
          </mat-error>
        </div>
      </div>

      <mat-divider></mat-divider>
      <br>
      <h3>Select one team enter the Inter-confederation Playoff.</h3>
      <div cdkDropList [cdkDropListData]="afcPos2List" (cdkDropListDropped)="onAfcIcDrop($event)">
        <div *ngFor="let t of afcPos2List; let idx = index" cdkDrag>
          <div class="team-card" [ngClass]="{'top-team': idx === 0}">
            <mat-icon class="drag-icon" aria-label="Drag team">drag_handle</mat-icon>
            <span>{{ t.name }}</span>
          </div>
        </div>
      </div>
     
    </form>
  </mat-expansion-panel>

  <!-- CAF Section -->
  <mat-expansion-panel *ngIf="CafQualifiersForm">
    <mat-expansion-panel-header>
      <mat-panel-title>
        CAF Qualifying  <br>
        <button mat-icon-button disabled disabledInteractive matTooltipClass="multiline-tooltip"
        matTooltip="9 group winners qualify directly. The 4 best runners-up advance to the playoffs, where only one of them will make it to the inter-confederation playoff.">
        <mat-icon color="primary">help_outline</mat-icon></button>
      </mat-panel-title>
    </mat-expansion-panel-header>
    
    <form [formGroup]="CafQualifiersForm">
      <div class="groups-grid">
        <div *ngFor="let letter of CafGroupLetters" class="group" [formGroupName]="'group' + letter">
          <div cdkDropList [cdkDropListData]="CafGroupedTeams[letter]" (cdkDropListDropped)="onCafDrop($event, letter)">
            <div
            *ngFor="let t of CafGroupedTeams[letter]; let idx = index; trackBy: trackByTeam"
                 cdkDrag
                 [cdkDragDisabled]="t.qualified"
                 (cdkDragStarted)="onDragStarted(CafGroupedTeams, 'CAF', letter)">
              <div
                class="team-card"
                [ngClass]="{
                  'top-team': idx === 0,
                  'second-team': idx === 1,
                  'qualified-team': t.qualified
                }">
                <mat-icon *ngIf="!t.qualified" class="drag-icon" aria-label="Drag team">drag_handle</mat-icon>
                <mat-icon *ngIf="t.qualified" class="qualified-icon" aria-label="Qualified">check_circle</mat-icon>
                <span>{{ t.name }}</span>
              </div>
            </div>
          </div>
          <mat-error *ngIf="CafQualifiersForm.get('group' + letter)?.errors?.['positionsSame'] && CafQualifiersForm.touched">
            1st and 2nd cannot be the same team.
          </mat-error>
        </div>
      </div>
      <mat-divider></mat-divider>
      <br>
      <div class="groups-grid playoff-grid">
          Select the 4 best runners-up to enter the CAF Playoffs.
          <form [formGroup]="cafPlayoffForm">
            <!-- Use CafPlayoffTeamList directly for drag-and-drop and mat-select -->
            <div cdkDropList [cdkDropListData]="CafPlayoffTeamList" (cdkDropListDropped)="onCafPlayoffDrop($event)">
              <div *ngFor="let t of CafPlayoffTeamList; let idx = index" cdkDrag>
                <div class="team-card" [ngClass]="{'top-team': idx < 4}">
                  <mat-icon *ngIf="!t.qualified" class="drag-icon" aria-label="Drag team">drag_handle</mat-icon>
                  <mat-icon *ngIf="t.qualified" class="qualified-icon" aria-label="Qualified">check_circle</mat-icon>
                
                  
                  <span>{{ t.name }}</span>
                 
                  </div>
              </div>
            </div>
          </form>

          <mat-divider></mat-divider>

          <br>
          Select one team to progress to the Inter-confederation Play-off.

          <br><br>

          <div cdkDropList [cdkDropListData]="CafPlayoffTeamList.slice(0, 4)" (cdkDropListDropped)="onCafIcDrop($event)">
            <div *ngFor="let t of CafPlayoffTeamList.slice(0, 4); let idx = index" cdkDrag>
              <div class="team-card" [ngClass]="{'top-team': idx === 0}">
                <mat-icon class="drag-icon" aria-label="Drag team">drag_handle</mat-icon>
                <span>{{ t.name }}</span>
              </div>
            </div>
          </div>
        <div  class="caf-playoff-choice">
         
        
        </div>
      </div>
    </form>
  </mat-expansion-panel>

  <!-- CONCACAF Section -->
  <mat-expansion-panel *ngIf="ConcacafQualifiersForm">
    <mat-expansion-panel-header>
      <mat-panel-title>
        CONCACAF Qualifying <br>
        <button mat-icon-button disabled disabledInteractive matTooltipClass="multiline-tooltip"
        matTooltip="3 group winners qualify directly. The 2 best runners-up advance to the inter-confederation playoffs.">
        <mat-icon color="primary">help_outline</mat-icon></button>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="ConcacafQualifiersForm">
      <div class="groups-grid">
        <div *ngFor="let letter of ConcacafGroupLetters" class="group" [formGroupName]="'group' + letter">
          <div cdkDropList [cdkDropListData]="ConcacafGroupedTeams[letter]" (cdkDropListDropped)="onConcacafDrop($event, letter)">
            <div *ngFor="let t of ConcacafGroupedTeams[letter]; let idx = index; trackBy: trackByTeam"
                 cdkDrag
                 [cdkDragDisabled]="t.qualified"
                 (cdkDragStarted)="onDragStarted(ConcacafGroupedTeams, 'CONCACAF', letter)">
              <div
                class="team-card"
                [ngClass]="{
                  'top-team': idx === 0,
                  'second-team': idx === 1,
                  'qualified-team': t.qualified
                }">
                <mat-icon *ngIf="!t.qualified" drag-icon aria-label="Drag team">drag_handle</mat-icon>
                <mat-icon *ngIf="t.qualified" class="qualified-icon" aria-label="Qualified">check_circle</mat-icon>
              
                <span>{{ t.name }}</span>
              </div>
            </div>
          </div>
          <mat-error *ngIf="ConcacafQualifiersForm.get('group' + letter)?.errors?.['positionsSame'] && ConcacafQualifiersForm.touched">
            1st and 2nd cannot be the same team.
          </mat-error>
        </div>
      </div>
      <mat-divider></mat-divider>
     
      <div class="groups-grid playoff-grid">
          <h3>Select 2 of the runner ups to qualify for the inter-confederation playoffs</h3>
          <div class="playoff-choice">
            <div cdkDropList [cdkDropListData]="concacafPos2List" (cdkDropListDropped)="onConcacafIcDrop($event)">
            <div *ngFor="let t of concacafPos2List; let idx = index" cdkDrag>
              <div class="team-card" [ngClass]="{'top-team': idx === 0 || idx === 1}">
                <mat-icon class="drag-icon" aria-label="Drag team">drag_handle</mat-icon>
                <span>{{ t.name }}</span>
              </div>
            </div>
          </div>
          </div>
         
      </div>
    </form>
  </mat-expansion-panel>
</mat-accordion>


