<div class="matches-container" *ngIf="simService.matches && simService.matches.length > 0; else noMatches">
  <mat-tab-group>
    <mat-tab *ngFor="let group of groupLetters">
      <ng-template mat-tab-label>
        Group {{ group }}
      </ng-template>
      <div *ngIf="groupMatches(group).length > 0">
        <mat-list>
          <mat-list-item *ngFor="let match of groupMatches(group)">
            <div class="match-row">
              <span class="match-number mat-caption">Match {{ match.match }}</span>
              <span class="match-date mat-caption">{{ match.date }}</span>
              <span class="team-with-flag">{{ getTeamFlag(match.team1) }} {{ match.team1 }}</span>
              <span class="vs-text">vs</span>
              <span class="team-with-flag">{{ getTeamFlag(match.team2) }} {{ match.team2 }}</span>
              <span class="match-venue mat-caption">
                {{ match.venue }}, {{ match.venueInfo?.city }}, {{ match.venueInfo?.country }}
              </span>
            </div>
          </mat-list-item>
        </mat-list>
      </div>
      <div *ngIf="groupMatches(group).length === 0" class="mat-body-2" style="padding: 16px; color: #888;">
        No matches for this group.
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<ng-template #noMatches>
  <mat-card>
    <mat-card-content>
      <div style="text-align: center; padding: 20px; color: #888;">
        No matches to display. Run the draw first.
      </div>
    </mat-card-content>
  </mat-card>
</ng-template>