.playoffs-container {
  max-width: 90vw;
  margin: 0 auto;
  padding: 2.5vw 2vw;
  border-radius: 2vw;
  box-shadow: 0 0.2vw 1.8vw rgba(21,101,192,0.08);
  background: var(--mat-md-sys-color-surface-variant, #23272f);
}

@media (max-width: 37.5rem) {
  .playoffs-container {
    padding: 2vw 1vw;
    border-radius: 1vw;
  }
}

.seeded-team-wrapper {
  background: #510505;
  border-radius: 1vw;
  padding: 0.5vw 1vw;
  margin: 0.5vw 0;
  font-weight: 600;
  display: inline-block;
}

.seeded-team-label {
  color: #b28704;
  font-size: 0.95em;
  // margin-left: 0.5em;
  font-weight: 700;
}

.playoff-sf-container {
  display: flex;
  gap: 2vw;
  margin-bottom: 2vw;
  flex-wrap: wrap;
}

.playoff-sf-card {
  border-radius: 1vw;
  padding: 1vw 2vw;
  box-shadow: 0 0.15vw 0.5vw rgba(0,0,0,0.07);
  min-width: 40vw;
  flex: 1 1 40vw;
  background: rgba(29, 151, 200, 0.18);

}

.result {
  font-size: 1rem;
  // color: var(--mat-md-sys-color-primary, #1976d2);
}

.playoff-final-card {
  box-shadow: 0 0.15vw 0.5vw rgba(0,0,0,0.07);
  background:  rgba(135, 227, 126, 0.18);
  margin-bottom: 2vw;
  padding: 1vw 2vw;
  border-radius: 0.8vw;  
}


.playoff-winner-card {
  margin-bottom: 2vw;
  border-radius: 0.8vw;
  box-shadow: 0 0.15vw 0.5vw rgba(0,0,0,0.07);
  background: rgba(255, 202, 40, 0.18);
  font-size: 1.2rem;
  padding: 1vw 2vw;
  border-radius: 0.8vw;
}