/* You can add global styles to this file, and also import other style files */
@use './theme.scss' as *;


html, body { height: 100%;  overflow-x: hidden;
  box-sizing: border-box; }

  *, *::before, *::after {
  box-sizing: inherit;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.multiline-tooltip {
  margin-left: 0.5em; 
  white-space: pre-line;
  max-width: 28rem;
  max-height: 20rem;
  white-space: pre-line;
  font-size: 1rem;
  line-height: 1.5;
  padding: 1rem;
}

